body{
    background-color: rgb(226, 72, 226);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 50px auto;
}

img{
    width: 80px;
    height: 80px;
    display: block;
}

header{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    
}

.bg{
    background-color: rgba(0, 0, 0, 0.678);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password{
    text-align: center;
    color: white;
}
